Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-aws-karpenter, pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons, pull-kops-e2e-aws-upgrade-k123-ko125-to-k124-kolatest-karpenter, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-verify-hashes, pull-kops-verify-terraform

pull-kops-e2e-aws-karpenter:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230222-b5208facd4-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230222-b5208facd4-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-aws-upgrade-k123-ko125-to-k124-kolatest-karpenter:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230222-b5208facd4-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-cni-amazonvpc:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230616-e730b60769-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-cni-calico:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230616-e730b60769-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-cni-calico-ipv6:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230616-e730b60769-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-cni-canal:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230616-e730b60769-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-cni-cilium:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230616-e730b60769-master
      imagePullPolicy: Always
  ...

add feature base
  pkg/model/awsmodel/spotinst.go
  upup/pkg/fi/cloudup/spotinsttasks/launch_spec.go
Due: none

update github.com/spotinst/spotinst-sdk-go@v1.171.0
  go.mod
  go.sum
  vendor/github.com/spotinst/spotinst-sdk-go/service/elastigroup/providers/aws/aws.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/elastigroup/providers/azure/v3/azure.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/elastigroup/providers/gcp/gcp.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/ocean.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/aws/cluster.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/aws/cluster_ecs.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/aws/launchspec.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/azure_np/cluster_np.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/azure_np/common.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/azure_np/nodegroup_np.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/azure_np/service.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/gcp/cluster.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/providers/gcp/launchspec.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/spark/cluster.go
  vendor/github.com/spotinst/spotinst-sdk-go/service/ocean/spark/spark.go
  vendor/github.com/spotinst/spotinst-sdk-go/spotinst/version.go
  vendor/modules.txt
Due: none

add Label Resource Tag Specification Volumes
  docs/getting_started/spot-ocean.md
  pkg/model/awsmodel/spotinst.go
  upup/pkg/fi/cloudup/spotinsttasks/ocean.go
Due: none

after make gomod
  go.mod
  go.sum
Due: none

moddify doc
  docs/getting_started/spot-ocean.md
Due: none

Don't get cluster --full when attempting leak cleanup
  tests/e2e/kubetest2-kops/deployer/down.go
  tests/e2e/pkg/kops/state.go
  tests/e2e/pkg/tester/tester.go
Due: none

Update Calico to v3.26.4
  upup/models/cloudup/resources/addons/networking.projectcalico.org/k8s-1.25.yaml.template
Due: pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-calico-ipv6

hack/update-expected.sh
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal-ipv6-calico/data/aws_s3_object_minimal-ipv6.example.com-addons-networking.projectcalico.org-k8s-1.25_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-bootstrap_content
  tests/integration/update_cluster/privatecalico/data/aws_s3_object_privatecalico.example.com-addons-networking.projectcalico.org-k8s-1.25_content
Due: pull-kops-verify-terraform

protobuf autogen
  tools/otel/traceserver/go.sum
  tools/otel/traceserver/pb/jaeger/api/v2/model.pb.go
  tools/otel/traceserver/pb/jaeger/api/v2/model.proto
  tools/otel/traceserver/pb/jaeger/storage/v1/storage.pb.go
  tools/otel/traceserver/pb/jaeger/storage/v1/storage.proto
  tools/otel/traceserver/pb/jaeger/storage/v1/storage_grpc.pb.go
Due: none

Added basic opentelemetry docs
  docs/opentelemetry.md
Due: none

otlp traceserver can now read from VFS
  tools/otel/traceserver/go.mod
  tools/otel/traceserver/go.sum
  tools/otel/traceserver/main.go
Due: none

otel tools: basic trace server for jaeger
  tools/otel/traceserver/Makefile
  tools/otel/traceserver/go.mod
  tools/otel/traceserver/main.go
Due: none

Basic OpenTelemetry support
  Makefile
  cmd/kops/create_cluster.go
  cmd/kops/doc.go
  cmd/kops/main.go
  cmd/kops/otel.go
  cmd/kops/root.go
  go.mod
  go.sum
  pkg/client/simple/vfsclientset/clientset.go
  pkg/client/simple/vfsclientset/cluster.go
  pkg/client/simple/vfsclientset/doc.go
  pkg/otel/otlptracefile/client.go
  pkg/otel/otlptracefile/exporter.go
  pkg/otel/otlptracefile/options.go
  pkg/otel/otlptracefile/pb/file.pb.go
  pkg/otel/otlptracefile/pb/file.proto
  pkg/otel/otlptracefile/writer.go
  upup/pkg/fi/context.go
  upup/pkg/fi/doc.go
  upup/pkg/fi/executor.go
  util/pkg/vfs/doc.go
  util/pkg/vfs/s3context.go
  util/pkg/vfs/s3fs.go
Due: none

Support writing traces to a directory, wire it up in kubetest2
  cmd/kops/otel.go
  tests/e2e/kubetest2-kops/deployer/common.go
Due: none

Added release note about OpenTelemetry
  docs/releases/1.29-NOTES.md
Due: none

Update kube-router to v1.6.0
  upup/models/cloudup/resources/addons/networking.kuberouter/k8s-1.12.yaml.template
Due: pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons, pull-kops-e2e-cni-kuberouter

Remove deprecation of kube-router
  docs/networking/kube-router.md
  pkg/apis/kops/validation/validation.go
Due: none

Remove deprecation of kube-router from release notes
  docs/releases/1.27-NOTES.md
  docs/releases/1.28-NOTES.md
Due: none

check kops cluster name when filtering instances in openstack
  upup/pkg/fi/cloudup/openstack/cloud.go
  upup/pkg/fi/cloudup/openstack/server_group.go
Due: none

use only k8s metadata
  upup/pkg/fi/cloudup/openstack/cloud.go
Due: none

allow local file VFS in asset copy
  pkg/assets/copyfile.go
Due: none

skip file remapping if same host
  pkg/assets/builder.go
Due: none

Replace * in IAM tags when IRSA namespace has wildcard
  pkg/model/context.go
  tests/integration/update_cluster/irsa/kubernetes.tf
Due: pull-kops-verify-terraform

Upgrade AWS EBS CSI Driver to v1.25.0
  pkg/model/components/awsebscsidriver.go
  upup/models/cloudup/resources/addons/aws-ebs-csi-driver.addons.k8s.io/k8s-1.17.yaml.template
Due: pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons

bump k8s and ubuntu ami versions in alpha
  channels/alpha
Due: none

Add volume modification support to EBS CSI Driver
  upup/models/cloudup/resources/addons/aws-ebs-csi-driver.addons.k8s.io/k8s-1.17.yaml.template
Due: pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons

Path conditions:
  pull-kops-e2e-aws-karpenter: any of: ^upup\/models\/cloudup\/resources\/addons\/karpenter\.sh\/
  pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons: any of: ^upup\/(models\/cloudup\/resources\/addons\/|pkg\/fi\/cloudup\/bootstrapchannelbuilder\/)
  pull-kops-e2e-aws-upgrade-k123-ko125-to-k124-kolatest-karpenter: any of: ^upup\/models\/cloudup\/resources\/addons\/karpenter\.sh\/
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/containerd|components\/kubeproxy|iam\/iam_builder)\.go|nodeup\/pkg\/model\/kubelet\.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-calico-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-etcd: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-eni: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|pkg\/model\/components\/containerd\.go)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/(containerd|docker)
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
