Repository kubernetes/kops: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kops-e2e-aws-karpenter, pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons, pull-kops-e2e-aws-upgrade-k123-ko125-to-k124-kolatest-karpenter, pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-calico, pull-kops-e2e-cni-calico-ipv6, pull-kops-e2e-cni-canal, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni, pull-kops-e2e-cni-flannel, pull-kops-e2e-cni-kuberouter, pull-kops-verify-hashes, pull-kops-verify-terraform

pull-kops-e2e-aws-karpenter:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230222-b5208facd4-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230222-b5208facd4-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-aws-upgrade-k123-ko125-to-k124-kolatest-karpenter:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230222-b5208facd4-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-cni-amazonvpc:
  optional: true
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230616-e730b60769-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-cni-calico:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230616-e730b60769-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-cni-calico-ipv6:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230616-e730b60769-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-cni-canal:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230616-e730b60769-master
      imagePullPolicy: Always
  ...

pull-kops-e2e-cni-cilium:
  optional: false
  labels:
    preset-service-account: 'true'
    preset-aws-ssh: 'true'
    preset-aws-credential: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20230616-e730b60769-master
      imagePullPolicy: Always
  ...

Use pointer for alias range in cluster spec
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/gcemodel/autoscalinggroup.go
  pkg/model/gcemodel/context.go
Due: none

introduce KubernetesE2ETesting feature flag
  nodeup/pkg/model/packages.go
  pkg/featureflag/featureflag.go
Due: none

Have kops-controller authorize droplet names instead of IPs
  upup/pkg/fi/cloudup/do/verifier.go
Due: none

Update DO CCM manifest
  upup/models/cloudup/resources/addons/digitalocean-cloud-controller.addons.k8s.io/k8s-1.8.yaml.template
Due: pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons

Add support for installing additional packages at cluster level
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/cluster.go
  pkg/apis/kops/v1alpha2/cluster.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  upup/pkg/fi/cloudup/apply_cluster.go
Due: none

Update Go to v1.21.2
  .github/workflows/main.yml
  .github/workflows/update-deps.yml
  cloudbuild.yaml
Due: none

Upgrade DO CSI manifest
  upup/models/cloudup/resources/addons/digitalocean-csi-driver.addons.k8s.io/k8s-1.22.yaml.template
Due: pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons

Use droplet ID for node names in DO
  docs/releases/1.29-NOTES.md
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  nodeup/pkg/model/kubelet.go
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  upup/pkg/fi/cloudup/do/verifier.go
  upup/pkg/fi/nodeup/command.go
Due: pull-kops-e2e-cni-amazonvpc

create a dedicated staging bucket for kops builds
  tests/e2e/kubetest2-kops/deployer/build.go
  tests/e2e/kubetest2-kops/deployer/common.go
  tests/e2e/kubetest2-kops/deployer/down.go
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/e2e/kubetest2-kops/gce/gcs.go
Due: none

bump cloud-provider-gcp to latest build
  pkg/model/components/gcpcloudcontrollermanager.go
  tests/e2e/kubetest2-kops/deployer/dumplogs.go
  tests/e2e/kubetest2-kops/deployer/up.go
  tests/integration/update_cluster/ha_gce/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/ha_gce/data/aws_s3_object_ha-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/ha_gce/data/aws_s3_object_ha-gce.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-bootstrap_content
  tests/integration/update_cluster/many-addons-gce/data/aws_s3_object_minimal.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_minimal-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce/data/aws_s3_object_minimal-gce.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_minimal-gce.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_dns-none/data/aws_s3_object_minimal-gce.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_ilb/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_ilb/data/aws_s3_object_minimal-gce-ilb.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_ilb/data/aws_s3_object_minimal-gce-ilb.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_longclustername/data/aws_s3_object_minimal-gce-with-a-very-very-very-very-very-long-name.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_plb/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_plb/data/aws_s3_object_minimal-gce-plb.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_plb/data/aws_s3_object_minimal-gce-plb.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_object_cluster-completed.spec_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_object_minimal-gce-private.example.com-addons-bootstrap_content
  tests/integration/update_cluster/minimal_gce_private/data/aws_s3_object_minimal-gce-private.example.com-addons-gcp-cloud-controller.addons.k8s.io-k8s-1.23_content
  upup/models/cloudup/resources/addons/gcp-cloud-controller.addons.k8s.io/k8s-1.23.yaml.template
Due: pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons, pull-kops-verify-terraform

aws: Attach security groups to NLBs
  cloudmock/aws/mockelbv2/loadbalancers.go
  docs/releases/1.29-NOTES.md
  pkg/model/awsmodel/api_loadbalancer.go
  pkg/model/awsmodel/bastion.go
  upup/pkg/fi/cloudup/awstasks/network_load_balancer.go
Due: none

hack/update-expected.sh
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/existing_sg/kubernetes.tf
  tests/integration/update_cluster/externalpolicies/kubernetes.tf
  tests/integration/update_cluster/minimal-dns-none/kubernetes.tf
  tests/integration/update_cluster/minimal-ipv6-calico/kubernetes.tf
  tests/integration/update_cluster/minimal-ipv6-cilium/kubernetes.tf
  tests/integration/update_cluster/minimal-ipv6-no-subnet-prefix/kubernetes.tf
  tests/integration/update_cluster/minimal-ipv6/kubernetes.tf
  tests/integration/update_cluster/private-shared-ip/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium-eni/kubernetes.tf
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/shared_vpc_ipv6/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
Due: pull-kops-verify-terraform

Improve removal of orphaned security group rules
  pkg/model/awsmodel/firewall.go
  upup/pkg/fi/cloudup/awstasks/securitygroup.go
  upup/pkg/fi/cloudup/awstasks/securitygroup_test.go
Due: none

hack/update-expected.sh
  tests/integration/create_cluster/different-amis/options.yaml
  tests/integration/create_cluster/ha_openstack/expected-v1alpha2.yaml
  tests/integration/create_cluster/ha_openstack_octavia/expected-v1alpha2.yaml
Due: none

Use dns=none for newly created clusters except for AWS and GCE
  cmd/kops/create_cluster.go
  upup/pkg/fi/cloudup/new_cluster.go
Due: none

aws: Attach security group to NLBs for kops-controller
  pkg/model/awsmodel/api_loadbalancer.go
  pkg/model/awsmodel/firewall.go
Due: none

hack/update-expected.sh
  tests/integration/update_cluster/minimal-dns-none/kubernetes.tf
Due: pull-kops-verify-terraform

Stop using DualStack subnets by default
  cloudmock/aws/mockelbv2/targetgroups.go
  docs/networking/ipv6.md
  docs/topology.md
  pkg/apis/kops/validation/aws.go
  pkg/model/awsmodel/api_loadbalancer.go
  pkg/model/awsmodel/bastion.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
  upup/pkg/fi/cloudup/awstasks/targetgroup.go
  upup/pkg/fi/cloudup/new_cluster.go
  upup/pkg/fi/cloudup/populate_instancegroup_spec.go
Due: none

hack/update-expected.sh
  tests/integration/create_cluster/ipv6/expected-v1alpha2.yaml
  tests/integration/update_cluster/bastionadditional_user-data/kubernetes.tf
  tests/integration/update_cluster/complex/kubernetes.tf
  tests/integration/update_cluster/minimal-dns-none/kubernetes.tf
  tests/integration/update_cluster/minimal-ipv6-calico/kubernetes.tf
  tests/integration/update_cluster/minimal-ipv6-cilium/kubernetes.tf
  tests/integration/update_cluster/minimal-ipv6-no-subnet-prefix/kubernetes.tf
  tests/integration/update_cluster/minimal-ipv6/kubernetes.tf
  tests/integration/update_cluster/private-shared-ip/kubernetes.tf
  tests/integration/update_cluster/private-shared-subnet/kubernetes.tf
  tests/integration/update_cluster/privatecalico/kubernetes.tf
  tests/integration/update_cluster/privatecanal/kubernetes.tf
  tests/integration/update_cluster/privatecilium-eni/kubernetes.tf
  tests/integration/update_cluster/privatecilium/kubernetes.tf
  tests/integration/update_cluster/privatecilium2/kubernetes.tf
  tests/integration/update_cluster/privateciliumadvanced/kubernetes.tf
  tests/integration/update_cluster/privatedns1/kubernetes.tf
  tests/integration/update_cluster/privatedns2/kubernetes.tf
  tests/integration/update_cluster/privateflannel/kubernetes.tf
  tests/integration/update_cluster/privatekopeio/kubernetes.tf
  tests/integration/update_cluster/shared_vpc_ipv6/kubernetes.tf
  tests/integration/update_cluster/unmanaged/kubernetes.tf
Due: pull-kops-verify-terraform

add support for auth-provider-gcp cred provider
  docs/releases/1.29-NOTES.md
  nodeup/pkg/model/context.go
  nodeup/pkg/model/kubelet.go
  pkg/apis/kops/cluster.go
  pkg/apis/kops/model/features.go
  pkg/apis/kops/v1alpha3/cluster.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/zz_generated.deepcopy.go
  upup/pkg/fi/cloudup/apply_cluster.go
Due: pull-kops-e2e-cni-amazonvpc, pull-kops-e2e-cni-cilium, pull-kops-e2e-cni-cilium-ipv6, pull-kops-e2e-cni-cilium-etcd, pull-kops-e2e-cni-cilium-eni

dump nodes even if controlplane is broken
  pkg/dump/dumper.go
Due: none

configure KUBE_SSH_BASTION for gce tests and bump deps
  cmd/kops/get_instances.go
  pkg/cloudinstances/cloud_instance.go
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/pkg/kops/state.go
  tests/e2e/pkg/tester/tester.go
  upup/pkg/fi/cloudup/gce/instancegroups.go
Due: none

feat: add cpu option setting for aws
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/instancegroup.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/instancegroup.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
  pkg/apis/kops/validation/aws.go
  pkg/apis/kops/validation/aws_test.go
  pkg/apis/kops/zz_generated.deepcopy.go
  pkg/model/awsmodel/autoscalinggroup.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_api.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform_test.go
Due: none

fix: only populate cpu options if not nil
  cloudmock/aws/mockec2/launch_templates.go
  upup/pkg/fi/cloudup/awstasks/launchtemplate_target_terraform.go
Due: none

Update Go to v1.21.3
  .github/workflows/main.yml
  .github/workflows/update-deps.yml
  go.mod
  go.sum
  hack/go.mod
  hack/go.sum
  tests/e2e/go.mod
  tests/e2e/go.sum
Due: none

add webhookURL
  docs/addons.md
  docs/releases/1.28-NOTES.md
  k8s/crds/kops.k8s.io_clusters.yaml
  pkg/apis/kops/componentconfig.go
  pkg/apis/kops/zz_generated.deepcopy.go
  upup/models/cloudup/resources/addons/node-termination-handler.aws/k8s-1.11.yaml.template
Due: pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons

Add cloud-platform GCP VM scope
  pkg/model/gcemodel/autoscalinggroup.go
  upup/pkg/fi/cloudup/gcetasks/instance.go
Due: none

update kops apis components
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/zz_generated.conversion.go
  pkg/apis/kops/v1alpha2/zz_generated.deepcopy.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
Due: none

make apimachinery
  pkg/apis/kops/v1alpha3/zz_generated.conversion.go
  pkg/apis/kops/v1alpha3/zz_generated.deepcopy.go
Due: none

Update expected test output
  tests/integration/update_cluster/ha_gce/kubernetes.tf
  tests/integration/update_cluster/many-addons-gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_dns-none/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_ilb_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_longclustername/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_plb/kubernetes.tf
  tests/integration/update_cluster/minimal_gce_private/kubernetes.tf
Due: pull-kops-verify-terraform

fix moved to 1.29 release notes
  docs/releases/1.28-NOTES.md
  docs/releases/1.29-NOTES.md
Due: none

Add validation for gcpAliasRange
  k8s/crds/kops.k8s.io_clusters.yaml
  k8s/crds/kops.k8s.io_instancegroups.yaml
  pkg/apis/kops/v1alpha2/componentconfig.go
  pkg/apis/kops/v1alpha2/instancegroup.go
  pkg/apis/kops/v1alpha3/componentconfig.go
  pkg/apis/kops/v1alpha3/instancegroup.go
  pkg/apis/kops/validation/gce.go
Due: none

Clean up code; Move from arm to amd for kubenodes, for cl2 prom, grafana test pods to come up
  tests/e2e/scenarios/scalability/run-test.sh
Due: none

add IPAM to vendor + ScwCloud
  upup/pkg/fi/cloudup/scaleway/cloud.go
  vendor/github.com/scaleway/scaleway-sdk-go/api/ipam/v1alpha1/ipam_sdk.go
  vendor/modules.txt
Due: none

get private IPs from IPAM and not from instance API
  protokube/pkg/gossip/scaleway/seeds.go
  protokube/pkg/protokube/scaleway_volumes.go
  upup/pkg/fi/cloudup/scaleway/cloud.go
  upup/pkg/fi/cloudup/scaleway/verifier.go
  upup/pkg/fi/cloudup/scalewaytasks/instance.go
  upup/pkg/fi/cloudup/scalewaytasks/lb_backend.go
Due: none

Refactor: Add context.Context to more VFS methods
  pkg/client/simple/api/clientset.go
  pkg/client/simple/vfsclientset/clientset.go
  pkg/client/simple/vfsclientset/cluster.go
  pkg/client/simple/vfsclientset/commonvfs.go
  pkg/templates/templates.go
  upup/models/vfs.go
  upup/pkg/fi/secrets/vfs_secretstore.go
  upup/pkg/fi/vfs_castore.go
  upup/pkg/fi/vfs_castore_test.go
  util/pkg/vfs/azureblob.go
  util/pkg/vfs/fs.go
  util/pkg/vfs/gsfs.go
  util/pkg/vfs/k8sfs.go
  util/pkg/vfs/memfs.go
  util/pkg/vfs/memfs_test.go
  util/pkg/vfs/s3fs.go
  util/pkg/vfs/sshfs.go
  util/pkg/vfs/swiftfs.go
  util/pkg/vfs/vfs.go
Due: none

Path conditions:
  pull-kops-e2e-aws-karpenter: any of: ^upup\/models\/cloudup\/resources\/addons\/karpenter\.sh\/
  pull-kops-e2e-aws-upgrade-126-ko126-to-klatest-kolatest-many-addons: any of: ^upup\/(models\/cloudup\/resources\/addons\/|pkg\/fi\/cloudup\/bootstrapchannelbuilder\/)
  pull-kops-e2e-aws-upgrade-k123-ko125-to-k124-kolatest-karpenter: any of: ^upup\/models\/cloudup\/resources\/addons\/karpenter\.sh\/
  pull-kops-e2e-cni-amazonvpc: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.amazon-vpc-routed-eni\/|pkg\/model\/(firewall|components\/containerd|components\/kubeproxy|iam\/iam_builder)\.go|nodeup\/pkg\/model\/kubelet\.go)
  pull-kops-e2e-cni-calico: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-calico-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\/|pkg\/model\/(components\/containerd|firewall|pki|iam\/iam_builder)\.go|nodeup\/pkg\/model\/networking\/calico\.go)
  pull-kops-e2e-cni-canal: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.projectcalico\.org\.canal\/)
  pull-kops-e2e-cni-cilium: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-ipv6: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-etcd: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-cilium-eni: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.cilium\.io\/|pkg\/model\/(components\/containerd|firewall|components\/cilium|iam\/iam_builder)\.go|nodeup\/pkg\/model\/(context|networking\/cilium)\.go)
  pull-kops-e2e-cni-flannel: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.flannel\/|pkg\/model\/components\/containerd\.go)
  pull-kops-e2e-cni-kuberouter: any of: ^(upup\/models\/cloudup\/resources\/addons\/networking\.kuberouter\/|pkg\/model\/components\/containerd\.go)
  pull-kops-verify-hashes: any of: ^upup\/pkg\/fi\/cloudup\/(containerd|docker)
  pull-kops-verify-terraform: any of: ^tests\/integration\/update_cluster\/
