Repository kubernetes/cloud-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Path conditions:
  pull-cloud-provider-vsphere-verify-fmt: any of: \.go$|hack/check-format\.sh
  pull-cloud-provider-vsphere-verify-lint: any of: \.go$|hack/check-lint\.sh
  pull-cloud-provider-vsphere-verify-vet: any of: \.go$|hack/check-vet\.sh
  pull-cloud-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cloud-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cloud-provider-vsphere-verify-staticcheck: any of: \.go$|hack/check-staticcheck\.sh$|go.mod
  pull-cloud-provider-vsphere-build: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-unit-test: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-integration-test: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-e2e-test: any of: \.go$|go.mod|hack/e2e\.sh|test/e2e/

Allow setting specific useragent identifier
  pkg/common/config/config_yaml.go
  pkg/common/config/types_common.go
  pkg/common/config/types_yaml.go
  pkg/common/connectionmanager/connectionmanager.go
  pkg/common/vclib/connection.go
  pkg/common/vclib/connection_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Correct typo from 'Kubenetes' to 'Kubernetes'
  docs/book/tutorials/deploying_cpi_with_multi_dc_vc_aka_zones.md
Due: pull-cloud-provider-vsphere-verify-markdown

Bump latest nsx operator
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Monitor the path of supervisor config
  cmd/vsphere-cloud-controller-manager/main.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Add Yanzhao as maintainer
  OWNERS_ALIASES
Due: none

Add dependabot
  .github/dependabot.yml
Due: none

Set the e2e artifacts folder
  hack/e2e.sh
Due: pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-e2e-test

Dump Cluster-API resources
  test/e2e/e2e_suite_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Dump CPI logs
  test/e2e/e2e_suite_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

capture logs of CPI pods
  test/e2e/cpi_install_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/logshelper.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

fail fast
  test/e2e/Makefile
Due: pull-cloud-provider-vsphere-e2e-test

Only watch supervisor path if it's paravirtual
  cmd/vsphere-cloud-controller-manager/main.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Bump golang version in go.mod to go 1.21
  cluster/images/controller-manager/Dockerfile
  go.mod
  go.sum
  hack/images/ci/Dockerfile
  hack/tools/go.mod
  hack/tools/go.sum
  test/e2e/go.mod
  test/e2e/go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Cleanup VSphere sessions on SIGTERM
  cmd/vsphere-cloud-controller-manager/main.go
  pkg/cloudprovider/vsphere/cloud.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Bump Kubernetes 1.29
  cluster/images/controller-manager/Dockerfile
  go.mod
  go.sum
  pkg/cloudprovider/vsphere/cloud.go
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/ippool/ippool_controller.go
  pkg/cloudprovider/vsphereparavirtual/ippoolmanager/v1alpha1/ippoolmanager.go
  pkg/cloudprovider/vsphereparavirtual/ippoolmanager/v1alpha2/ippoolmanager.go
  pkg/cloudprovider/vsphereparavirtual/route.go
  test/e2e/go.mod
  test/e2e/go.sum
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Improve log collection
  hack/e2e.sh
  test/e2e/e2e_suite_test.go
  test/e2e/go.mod
  test/e2e/go.sum
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Bump vsphere-cpi version to v1.29.0
  README.md
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/values.yaml
  releases/README.md
  releases/v1.29/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

Release 1.29.0 helm charts
  charts/vsphere-cpi-1.29.0.tgz
  index.yaml
Due: none

Fix index error in v1.29.0 helm charts
  charts/vsphere-cpi-1.29.0.tgz
  index.yaml
Due: none

Add more doc about how to cut a release
  docs/book/tutorials/make_a_new_cpi_release.md
Due: pull-cloud-provider-vsphere-verify-markdown

Use openvpn from community-owned registry
  hack/e2e.sh
Due: pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-e2e-test

Use K8s v1.29.0 in e2e test
  test/e2e/Makefile
  test/e2e/config/vsphere-ci.yaml
  test/e2e/e2e_suite_test.go
  test/e2e/go.mod
  test/e2e/go.sum
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

remove controller runtime dependency
  pkg/cloudprovider/vsphereparavirtual/instances.go
  pkg/cloudprovider/vsphereparavirtual/instances_test.go
  pkg/cloudprovider/vsphereparavirtual/loadbalancer_test.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/types.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice_test.go
  pkg/cloudprovider/vsphereparavirtual/zone.go
  pkg/cloudprovider/vsphereparavirtual/zone_test.go
  pkg/util/fake_client_wrapper.go
  pkg/util/fake_vm_client_wrapper.go
  pkg/util/fake_vm_service_client_wrapper.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

only generate clientset
  pkg/cloudprovider/vsphereparavirtual/vmop/informers/externalversions/factory.go
  pkg/cloudprovider/vsphereparavirtual/vmop/informers/externalversions/generic.go
  pkg/cloudprovider/vsphereparavirtual/vmop/informers/externalversions/internalinterfaces/factory_interfaces.go
  pkg/cloudprovider/vsphereparavirtual/vmop/informers/externalversions/vmop/interface.go
  pkg/cloudprovider/vsphereparavirtual/vmop/informers/externalversions/vmop/v1alpha1/interface.go
  pkg/cloudprovider/vsphereparavirtual/vmop/informers/externalversions/vmop/v1alpha1/virtualmachine.go
  pkg/cloudprovider/vsphereparavirtual/vmop/informers/externalversions/vmop/v1alpha1/virtualmachineclass.go
  pkg/cloudprovider/vsphereparavirtual/vmop/informers/externalversions/vmop/v1alpha1/virtualmachineimage.go
  pkg/cloudprovider/vsphereparavirtual/vmop/informers/externalversions/vmop/v1alpha1/virtualmachineservice.go
  pkg/cloudprovider/vsphereparavirtual/vmop/informers/externalversions/vmop/v1alpha1/virtualmachinesetresourcepolicy.go
  pkg/cloudprovider/vsphereparavirtual/vmop/listers/vmop/v1alpha1/expansion_generated.go
  pkg/cloudprovider/vsphereparavirtual/vmop/listers/vmop/v1alpha1/virtualmachine.go
  pkg/cloudprovider/vsphereparavirtual/vmop/listers/vmop/v1alpha1/virtualmachineclass.go
  pkg/cloudprovider/vsphereparavirtual/vmop/listers/vmop/v1alpha1/virtualmachineimage.go
  pkg/cloudprovider/vsphereparavirtual/vmop/listers/vmop/v1alpha1/virtualmachineservice.go
  pkg/cloudprovider/vsphereparavirtual/vmop/listers/vmop/v1alpha1/virtualmachinesetresourcepolicy.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Revert "only generate clientset"
  pkg/cloudprovider/vsphereparavirtual/vmop/informers/externalversions/factory.go
  pkg/cloudprovider/vsphereparavirtual/vmop/informers/externalversions/generic.go
  pkg/cloudprovider/vsphereparavirtual/vmop/informers/externalversions/internalinterfaces/factory_interfaces.go
  pkg/cloudprovider/vsphereparavirtual/vmop/informers/externalversions/vmop/interface.go
  pkg/cloudprovider/vsphereparavirtual/vmop/informers/externalversions/vmop/v1alpha1/interface.go
  pkg/cloudprovider/vsphereparavirtual/vmop/informers/externalversions/vmop/v1alpha1/virtualmachine.go
  pkg/cloudprovider/vsphereparavirtual/vmop/informers/externalversions/vmop/v1alpha1/virtualmachineclass.go
  pkg/cloudprovider/vsphereparavirtual/vmop/informers/externalversions/vmop/v1alpha1/virtualmachineimage.go
  pkg/cloudprovider/vsphereparavirtual/vmop/informers/externalversions/vmop/v1alpha1/virtualmachineservice.go
  pkg/cloudprovider/vsphereparavirtual/vmop/informers/externalversions/vmop/v1alpha1/virtualmachinesetresourcepolicy.go
  pkg/cloudprovider/vsphereparavirtual/vmop/listers/vmop/v1alpha1/expansion_generated.go
  pkg/cloudprovider/vsphereparavirtual/vmop/listers/vmop/v1alpha1/virtualmachine.go
  pkg/cloudprovider/vsphereparavirtual/vmop/listers/vmop/v1alpha1/virtualmachineclass.go
  pkg/cloudprovider/vsphereparavirtual/vmop/listers/vmop/v1alpha1/virtualmachineimage.go
  pkg/cloudprovider/vsphereparavirtual/vmop/listers/vmop/v1alpha1/virtualmachineservice.go
  pkg/cloudprovider/vsphereparavirtual/vmop/listers/vmop/v1alpha1/virtualmachinesetresourcepolicy.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

lint
  pkg/cloudprovider/vsphereparavirtual/vmop/applyconfiguration/utils.go
  pkg/cloudprovider/vsphereparavirtual/vmop/applyconfiguration/vmop/v1alpha1/virtualmachineclass.go
  pkg/cloudprovider/vsphereparavirtual/vmop/applyconfiguration/vmop/v1alpha1/virtualmachinecondition.go
  pkg/cloudprovider/vsphereparavirtual/vmop/clientset/versioned/fake/register.go
  pkg/cloudprovider/vsphereparavirtual/vmop/clientset/versioned/scheme/register.go
  pkg/cloudprovider/vsphereparavirtual/vmop/clientset/versioned/typed/vmop/v1alpha1/fake/fake_virtualmachine.go
  pkg/cloudprovider/vsphereparavirtual/vmop/clientset/versioned/typed/vmop/v1alpha1/fake/fake_virtualmachineclass.go
  pkg/cloudprovider/vsphereparavirtual/vmop/clientset/versioned/typed/vmop/v1alpha1/fake/fake_virtualmachineimage.go
  pkg/cloudprovider/vsphereparavirtual/vmop/clientset/versioned/typed/vmop/v1alpha1/fake/fake_virtualmachineservice.go
  pkg/cloudprovider/vsphereparavirtual/vmop/clientset/versioned/typed/vmop/v1alpha1/fake/fake_virtualmachinesetresourcepolicy.go
  pkg/cloudprovider/vsphereparavirtual/vmop/clientset/versioned/typed/vmop/v1alpha1/virtualmachine.go
  pkg/cloudprovider/vsphereparavirtual/vmop/clientset/versioned/typed/vmop/v1alpha1/virtualmachineclass.go
  pkg/cloudprovider/vsphereparavirtual/vmop/clientset/versioned/typed/vmop/v1alpha1/virtualmachineimage.go
  pkg/cloudprovider/vsphereparavirtual/vmop/clientset/versioned/typed/vmop/v1alpha1/virtualmachineservice.go
  pkg/cloudprovider/vsphereparavirtual/vmop/clientset/versioned/typed/vmop/v1alpha1/virtualmachinesetresourcepolicy.go
  pkg/cloudprovider/vsphereparavirtual/vmop/clientset/versioned/typed/vmop/v1alpha1/vmop_client.go
  pkg/cloudprovider/vsphereparavirtual/vmop/informers/externalversions/generic.go
  pkg/cloudprovider/vsphereparavirtual/vmop/informers/externalversions/vmop/v1alpha1/virtualmachine.go
  pkg/cloudprovider/vsphereparavirtual/vmop/informers/externalversions/vmop/v1alpha1/virtualmachineclass.go
  pkg/cloudprovider/vsphereparavirtual/vmop/informers/externalversions/vmop/v1alpha1/virtualmachineimage.go
  pkg/cloudprovider/vsphereparavirtual/vmop/informers/externalversions/vmop/v1alpha1/virtualmachineservice.go
  pkg/cloudprovider/vsphereparavirtual/vmop/informers/externalversions/vmop/v1alpha1/virtualmachinesetresourcepolicy.go
  pkg/cloudprovider/vsphereparavirtual/vmop/listers/vmop/v1alpha1/virtualmachine.go
  pkg/cloudprovider/vsphereparavirtual/vmop/listers/vmop/v1alpha1/virtualmachineclass.go
  pkg/cloudprovider/vsphereparavirtual/vmop/listers/vmop/v1alpha1/virtualmachineimage.go
  pkg/cloudprovider/vsphereparavirtual/vmop/listers/vmop/v1alpha1/virtualmachineservice.go
  pkg/cloudprovider/vsphereparavirtual/vmop/listers/vmop/v1alpha1/virtualmachinesetresourcepolicy.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

remove unused wrapper
  go.mod
  go.sum
  pkg/cloudprovider/vsphereparavirtual/instances_test.go
  pkg/cloudprovider/vsphereparavirtual/loadbalancer_test.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice_test.go
  pkg/cloudprovider/vsphereparavirtual/zone_test.go
  pkg/util/fake_vm_client_wrapper.go
  pkg/util/fake_vm_service_client_wrapper.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

fix lint
  pkg/cloudprovider/vsphereparavirtual/instances.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/client.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/fake_client.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/virtualmachine_client.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/virtualmachineservice_client.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/interface.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/types.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice.go
  pkg/cloudprovider/vsphereparavirtual/zone.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

fix typo in kubeadm docs
  docs/book/tutorials/kubernetes-on-vsphere-with-kubeadm.md
Due: pull-cloud-provider-vsphere-verify-markdown

add unit tests for client
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/virtualmachine_client_test.go
  pkg/cloudprovider/vsphereparavirtual/vmoperator/client/virtualmachineservice_client_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test
