Repository kubernetes/cloud-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Path conditions:
  pull-cloud-provider-vsphere-verify-fmt: any of: \.go$|hack/check-format\.sh
  pull-cloud-provider-vsphere-verify-lint: any of: \.go$|hack/check-lint\.sh
  pull-cloud-provider-vsphere-verify-vet: any of: \.go$|hack/check-vet\.sh
  pull-cloud-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cloud-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cloud-provider-vsphere-verify-staticcheck: any of: \.go$|hack/check-staticcheck\.sh$|go.mod
  pull-cloud-provider-vsphere-build: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-unit-test: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-integration-test: any of: \.go$|go.mod
  pull-cloud-provider-vsphere-e2e-test: any of: \.go$|go.mod|hack/e2e\.sh|test/e2e/

Fix the unit test
  pkg/common/connectionmanager/list_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Update Dockerfile
  cluster/images/controller-manager/Dockerfile
Due: none

Fix the symbol for image tag
  cluster/images/controller-manager/Dockerfile
Due: none

Bump k8s to 1.28
  cluster/images/controller-manager/Dockerfile
  cmd/vsphere-cloud-controller-manager/main.go
  go.mod
  go.sum
  pkg/cloudprovider/vsphereparavirtual/instances_test.go
  pkg/cloudprovider/vsphereparavirtual/loadbalancer_test.go
  pkg/cloudprovider/vsphereparavirtual/vmservice/vmservice_test.go
  pkg/cloudprovider/vsphereparavirtual/zone_test.go
  test/e2e/go.mod
  test/e2e/go.sum
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Fix CVE-2022-41723 by bumping golang.org/x/net to 0.8.0
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Update charts and manifests version to 1.28
  README.md
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/README.md
  charts/vsphere-cpi/values.yaml
  releases/README.md
  releases/v1.28/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

Release 1.28 helm charts
  charts/vsphere-cpi-1.28.0.tgz
  index.yaml
Due: none

Add helm 1.27.0
  index.yaml
Due: none

modified refactor-design.md - fix for broken links - modifed kep0002 to kep2392
  docs/design/refactor-design.md
Due: pull-cloud-provider-vsphere-verify-markdown

modified refactor-design.md - fix for broken links
  docs/design/refactor-design.md
Due: pull-cloud-provider-vsphere-verify-markdown

modified refactor-design.md - fix for broken links - modified link line number
  docs/design/refactor-design.md
Due: pull-cloud-provider-vsphere-verify-markdown

“我”
  charts/vsphere-cpi-1.23.1.tgz
Due: none

Update index.yaml
  index.yaml
Due: none

Update comment inside dockerfile
  cluster/images/controller-manager/Dockerfile
Due: none

Release 1.23.5
  charts/vsphere-cpi-1.23.5.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  docs/book/tutorials/deploying-cpi-with-k3s.md
  docs/book/tutorials/disable-node-deletion.yaml
  index.yaml
  releases/README.md
  releases/v1.23/vsphere-cloud-controller-manager.yaml
  test/e2e/config/vsphere-ci.yaml
Due: pull-cloud-provider-vsphere-verify-markdown, pull-cloud-provider-vsphere-e2e-test

Release 1.22.9
  charts/vsphere-cpi-1.22.9.tgz
  charts/vsphere-cpi/Chart.yaml
  charts/vsphere-cpi/values.yaml
  cluster/images/controller-manager/Dockerfile
  docs/book/tutorials/deploying-cpi-with-k3s.md
  docs/book/tutorials/disable-node-deletion.yaml
  index.yaml
  releases/README.md
  releases/v1.22/vsphere-cloud-controller-manager.yaml
Due: pull-cloud-provider-vsphere-verify-markdown

Correct parsing of guestInfo metadata
  pkg/cloudprovider/vsphere/nodemanager.go
  pkg/cloudprovider/vsphere/nodemanager_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

CI: move to new resource pool and folder in VMC and use in-cluster provider for IPAM
  hack/e2e.sh
  hack/ipclaim-template.yaml
  test/e2e/config/vsphere-ci.yaml
Due: pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-e2e-test

CI: move to new resource pool and folder in VMC and use in-cluster provider for IPAM
  charts/vsphere-cpi/templates/daemonset.yaml
  hack/e2e.sh
  hack/ipclaim-template.yaml
  hack/release.sh
  test/e2e/config/vsphere-ci.yaml
Due: pull-cloud-provider-vsphere-verify-shell, pull-cloud-provider-vsphere-e2e-test

Add Yike as maintainer
  OWNERS_ALIASES
Due: none

test pr
  cmd/vsphere-cloud-controller-manager/main.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Upgrade kind to 0.20.0 and its config version
  test/integration/install_kind.sh
  test/kind/kind-config.yaml
Due: pull-cloud-provider-vsphere-verify-shell

Bump k8s and CAPI in e2e test
  test/e2e/go.mod
  test/e2e/go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Upgrade CI
  test/e2e/config/vsphere-ci.yaml
Due: pull-cloud-provider-vsphere-e2e-test

Bump golang.org/x/net to v0.17.0 to fix CVE-2023-44487
  go.mod
  go.sum
Due: pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test

Support VPC networking for Routable pod feature
  go.mod
  go.sum
  pkg/cloudprovider/vsphereparavirtual/cloud.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/core.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/ippool/ippool_controller.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/ippool/ippool_controller_test.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/node/node_controller.go
  pkg/cloudprovider/vsphereparavirtual/controllers/routablepod/node/node_controller_test.go
  pkg/cloudprovider/vsphereparavirtual/ippoolmanager/helper/helper.go
  pkg/cloudprovider/vsphereparavirtual/ippoolmanager/interfaces.go
  pkg/cloudprovider/vsphereparavirtual/ippoolmanager/v1alpha1/ippoolmanager.go
  pkg/cloudprovider/vsphereparavirtual/ippoolmanager/v1alpha1/ippoolmanager_test.go
  pkg/cloudprovider/vsphereparavirtual/ippoolmanager/v1alpha2/ippoolmanager.go
  pkg/cloudprovider/vsphereparavirtual/ippoolmanager/v1alpha2/ippoolmanager_test.go
  pkg/cloudprovider/vsphereparavirtual/route.go
  pkg/cloudprovider/vsphereparavirtual/route_test.go
  pkg/cloudprovider/vsphereparavirtual/routemanager/helper/helper.go
  pkg/cloudprovider/vsphereparavirtual/routemanager/helper/helper_test.go
  pkg/cloudprovider/vsphereparavirtual/routemanager/interfaces.go
  pkg/cloudprovider/vsphereparavirtual/routemanager/routeset/routemanager.go
  pkg/cloudprovider/vsphereparavirtual/routemanager/routeset/routemanager_test.go
  pkg/cloudprovider/vsphereparavirtual/routemanager/staticroute/routemanager.go
  pkg/cloudprovider/vsphereparavirtual/routemanager/staticroute/routemanager_test.go
Due: pull-cloud-provider-vsphere-verify-fmt, pull-cloud-provider-vsphere-verify-lint, pull-cloud-provider-vsphere-verify-vet, pull-cloud-provider-vsphere-verify-staticcheck, pull-cloud-provider-vsphere-build, pull-cloud-provider-vsphere-unit-test, pull-cloud-provider-vsphere-integration-test, pull-cloud-provider-vsphere-e2e-test
