Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-file-promo, post-k8sio-image-promo

post-k8sio-file-promo:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-promoter
    containers:
    - image: k8s.gcr.io/artifact-promoter/kpromo:v3.3.0-1
      command:
      - /kpromo
      args:
      - run
      - files
      - --manifests=/home/prow/go/src/github.com/kubernetes/k8s.io/artifacts/
      - --confirm

post-k8sio-image-promo:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter
    containers:
    - image: k8s.gcr.io/artifact-promoter/kpromo:v3.3.0-1
      command:
      - /kpromo
      args:
      - cip
      - --thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io
      - --confirm

Image promotion for cluster-api-azure v1.2.0
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: post-k8sio-image-promo

Ensuring image signing test account exists and e2e access
  infra/gcp/bash/ensure-prod-storage.sh
  infra/gcp/bash/lib.sh
Due: none

Unify permissions for sig-scalability
  groups/sig-scalability/groups.yaml
Due: none

Promote descheduler v0.23.1 images
  k8s.gcr.io/images/k8s-staging-descheduler/images.yaml
Due: post-k8sio-image-promo

Bump network proxy to v0.0.29
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/images.yaml
Due: post-k8sio-image-promo

Enable IAM Creds API in release process
  infra/gcp/bash/ensure-prod-storage.sh
Due: none

Release etcd v3.6.0-alpha.0-0 image
  k8s.gcr.io/images/k8s-staging-etcd/images.yaml
Due: post-k8sio-image-promo

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: none

Added owners for pushing ibm-powervs-block-csi-driver images
  k8s.gcr.io/images/k8s-staging-cloud-provider-ibm/OWNERS
Due: none

New members added to k8s-infra-staging-cloud-provider-ibm group
  groups/sig-cloud-provider/groups.yaml
Due: none

Promote patch releases for v0.21 and v0.22
  k8s.gcr.io/images/k8s-staging-descheduler/images.yaml
Due: post-k8sio-image-promo

Fix enj email
  groups/committee-security-response/groups.yaml
Due: none

Promote kOps 1.21.5 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: post-k8sio-image-promo

Promote kOps 1.21.5 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.21.5.yaml
Due: post-k8sio-file-promo

Promote kOps 1.23.0 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: post-k8sio-image-promo

Promote kOps 1.23.0 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.23.0.yaml
Due: post-k8sio-file-promo

Update volume health monitor images
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Due: post-k8sio-image-promo

Promote v1.22.0-alpha.2
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Due: post-k8sio-image-promo

Image promotion for build-image v1.24.0-go1.17.8-bullseye.0 / v1.23.0-go1.17.8-bullseye.0 / v1.22.0-go1.16.15-buster.0 / v1.21.0-go1.16.15-buster.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: post-k8sio-image-promo

clean up not needed images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: post-k8sio-image-promo

Image promotion for build-image v2.3.1-go1.17.8-bullseye.0 / v2.3.1-go1.16.15-buster.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: post-k8sio-image-promo

Image promotion for releng 1.16.15-buster-0 / 1.17.8-bullseye-0
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Due: post-k8sio-image-promo

Add the opentelemetry side car image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: post-k8sio-image-promo

remove extra new line
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: post-k8sio-image-promo

promote csi-secrets-store driver:v1.1.1
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Due: post-k8sio-image-promo

add new sig docs co-chairs and tl to owners
  OWNERS_ALIASES
Due: none

Updating groups/sig-docs/groups.yaml with new owners. Removing old owners and members.
  groups/sig-docs/groups.yaml
Due: none

Image promotion for kube-state-metrics v2.4.2
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Due: post-k8sio-image-promo

Promote images for ClusterAPI 0322 Patch releases
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Due: post-k8sio-image-promo

Adding change to trigger deploy
  apps/codesearch/deployment.yaml
Due: none

Bump conftest to v0.30.0
  images/k8s-infra/Dockerfile
Due: none

Path conditions:
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
