Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-file-promo, post-k8sio-image-promo

Path conditions:
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))

groups/sig-release: add Nabarun Pal as a Release Manager
  groups/sig-release/groups.yaml
Due: none

OWNERS_ALIASES: add Verolop as a Release Manager
  OWNERS_ALIASES
Due: none

releng: Promote go1.18beta1 images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: post-k8sio-image-promo

releng: Promote debian-base bullseye-v1.1.0 and buster-v1.10.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: post-k8sio-image-promo

releng: Promote debian-iptables bullseye-v1.2.0 / buster-v1.8.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: post-k8sio-image-promo

releng: Promote setcap bullseye-v1.1.0 / buster-v2.1.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: post-k8sio-image-promo

Image promotion for build-image v2.3.1-go1.18beta1-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: post-k8sio-image-promo

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: none

Cluster Autoscaler releases 1.20.2, 1.21.2, 1.22.2
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Due: post-k8sio-image-promo

adding dev mailing list
  groups/restrictions.yaml
  groups/sig-contributor-experience/groups.yaml
Due: none

Promote VPA-stress images
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Due: post-k8sio-image-promo

update dev mailing list settings
  groups/sig-contributor-experience/groups.yaml
Due: none

Add boskos pool for k8s-infra-e2e-scale-5k-project
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-janitor.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-reaper-deployment.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-resources-configmap.yaml
Due: none

promote nginx-errors image to v1.0.0
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: post-k8sio-image-promo

Cluster Autoscaler 1.23
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Due: post-k8sio-image-promo

Update snapshot images to 5.0.0
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Due: post-k8sio-image-promo

Promote kOps 1.24.0-alpha.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: post-k8sio-image-promo

Promote kOps 1.24.0-alpha.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.24.0-alpha.2.yaml
Due: post-k8sio-file-promo

Update README.md
  README.md
Due: none

update dev group name
  groups/sig-contributor-experience/groups.yaml
Due: none

Paginate the ListMembers call
  groups/client.go
  groups/fake/fake_client.go
  groups/reconcile.go
  groups/reconcile_test.go
  groups/service.go
  groups/service_test.go
Due: none

Adds k8s-infra-staging-gmsa-webhook@kubernetes.io group
  groups/restrictions.yaml
  groups/sig-windows/OWNERS
  groups/sig-windows/groups.yaml
  infra/gcp/bash/namespaces/namespace-user-role.yml
  infra/gcp/infra.yaml
  k8s.gcr.io/images/k8s-staging-gmsa-webhook/OWNERS
  k8s.gcr.io/images/k8s-staging-gmsa-webhook/images.yaml
  k8s.gcr.io/manifests/k8s-staging-gmsa-webhook/promoter-manifest.yaml
Due: post-k8sio-image-promo

groups/steering: Add Stephen's work email to Steering lists
  groups/committee-steering/groups.yaml
Due: none

test images: promote echoserver 2.5
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Due: post-k8sio-image-promo

Promote kOps 1.22.3 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Due: post-k8sio-image-promo

Promote kOps 1.22.3 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.22.3.yaml
Due: post-k8sio-file-promo

Update k8s-infra-release-viewers for 1.24
  groups/sig-release/groups.yaml
Due: none

Update release-comms for 1.24
  groups/sig-release/groups.yaml
Due: none

Update release-managers for 1.24
  groups/sig-release/groups.yaml
Due: none

Update managers of release-team for 1.24
  groups/sig-release/groups.yaml
Due: none

Update manager of release-team-shadows for 1.24
  groups/sig-release/groups.yaml
Due: none

Add snapshot validation webhook v5.0.0 image
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Due: post-k8sio-image-promo

Update 1.24 release team members
  groups/sig-release/groups.yaml
Due: none

Update k8s-infra-rbac-triageparty-release for 1.24
  groups/sig-release/groups.yaml
Due: none

Retain in public-log-asn-matcher/generate-buckets.sh
  images/public-log-asn-matcher/buckets.txt
  images/public-log-asn-matcher/generate-buckets.sh
Due: none
