Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-opentelemetry, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbun-image, post-ingress-nginx-build-webhook-certgen-image, post-ingress-nginx-build-custom-error-pages-image

Path conditions:
  post-ingress-nginx-push-images: any of: TAG
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-opentelemetry: any of: images/opentelemetry/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*|NGINX_BASE
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*|NGINX_BASE
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbun-image: any of: images/httpbun/.*
  post-ingress-nginx-build-webhook-certgen-image: any of: images/kube-webhook-certgen/.*
  post-ingress-nginx-build-custom-error-pages-image: any of: images/custom-error-pages/.*

helm: Add loadBalancerClass to internal service
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-service-internal.yaml
Due: none

helm: Add loadBalancerClass to internal service
  charts/ingress-nginx/README.md.gotmpl
Due: none

Fix fcgi configmap value parsing
  go.work.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  internal/ingress/annotations/fastcgi/main.go
  internal/ingress/annotations/fastcgi/main_test.go
  magefiles/go.mod
  magefiles/go.sum
Due: post-ingress-nginx-build-webhook-certgen-image

Fix fcgi configmap value parsing (#10528)
  go.work.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  internal/ingress/annotations/fastcgi/main.go
  internal/ingress/annotations/fastcgi/main_test.go
  magefiles/go.mod
  magefiles/go.sum
Due: post-ingress-nginx-build-webhook-certgen-image

Documenting flag `enable-auth-access-log` (#10518)
  docs/user-guide/nginx-configuration/configmap.md
Due: none

Documenting flag `enable-auth-access-log` (#10518) (#10535)
  docs/user-guide/nginx-configuration/configmap.md
Due: none

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/nginx-configuration/configmap/index.html
Due: none

feat: add namespace overrides
  charts/ingress-nginx/templates/NOTES.txt
  charts/ingress-nginx/templates/_helpers.tpl
  charts/ingress-nginx/templates/admission-webhooks/cert-manager.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/clusterrolebinding.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-createSecret.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/networkpolicy.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/role.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/rolebinding.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/serviceaccount.yaml
  charts/ingress-nginx/templates/admission-webhooks/validating-webhook.yaml
  charts/ingress-nginx/templates/clusterrolebinding.yaml
  charts/ingress-nginx/templates/controller-configmap-addheaders.yaml
  charts/ingress-nginx/templates/controller-configmap-proxyheaders.yaml
  charts/ingress-nginx/templates/controller-configmap-tcp.yaml
  charts/ingress-nginx/templates/controller-configmap-udp.yaml
  charts/ingress-nginx/templates/controller-configmap.yaml
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/templates/controller-hpa.yaml
  charts/ingress-nginx/templates/controller-networkpolicy.yaml
  charts/ingress-nginx/templates/controller-poddisruptionbudget.yaml
  charts/ingress-nginx/templates/controller-role.yaml
  charts/ingress-nginx/templates/controller-rolebinding.yaml
  charts/ingress-nginx/templates/controller-secret.yaml
  charts/ingress-nginx/templates/controller-service-internal.yaml
  charts/ingress-nginx/templates/controller-service-metrics.yaml
  charts/ingress-nginx/templates/controller-service-webhook.yaml
  charts/ingress-nginx/templates/controller-service.yaml
  charts/ingress-nginx/templates/controller-serviceaccount.yaml
  charts/ingress-nginx/templates/controller-servicemonitor.yaml
  charts/ingress-nginx/templates/default-backend-deployment.yaml
  charts/ingress-nginx/templates/default-backend-hpa.yaml
  charts/ingress-nginx/templates/default-backend-networkpolicy.yaml
  charts/ingress-nginx/templates/default-backend-poddisruptionbudget.yaml
  charts/ingress-nginx/templates/default-backend-role.yaml
  charts/ingress-nginx/templates/default-backend-rolebinding.yaml
  charts/ingress-nginx/templates/default-backend-service.yaml
  charts/ingress-nginx/templates/default-backend-serviceaccount.yaml
  charts/ingress-nginx/values.yaml
Due: none

add value in readme
  charts/ingress-nginx/README.md
Due: none

fix: readme description
  charts/ingress-nginx/README.md
Due: none

fix: description in value
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
Due: none

fix: set max length and trim last "-"
  charts/ingress-nginx/templates/_helpers.tpl
Due: none

Fix fcgi configmap value parsing (#10528)
  go.mod
  go.sum
  go.work.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  internal/ingress/annotations/fastcgi/main.go
  internal/ingress/annotations/fastcgi/main_test.go
  magefiles/go.mod
  magefiles/go.sum
Due: post-ingress-nginx-build-webhook-certgen-image

Tidy on cherrypick
  go.sum
  go.work
  go.work.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  magefiles/go.sum
Due: post-ingress-nginx-build-webhook-certgen-image

Release v1.9.4
  TAG
Due: post-ingress-nginx-push-images

Cherry pick fcgi fix and release v1.9.4 (#10544)
  TAG
  go.mod
  go.sum
  go.work
  go.work.sum
  images/kube-webhook-certgen/rootfs/go.mod
  images/kube-webhook-certgen/rootfs/go.sum
  internal/ingress/annotations/fastcgi/main.go
  internal/ingress/annotations/fastcgi/main_test.go
  magefiles/go.mod
  magefiles/go.sum
Due: post-ingress-nginx-push-images, post-ingress-nginx-build-webhook-certgen-image

Fix list item format on troubleshooting.md
  docs/troubleshooting.md
Due: none

Docs: Fixed broken link of "synchronization loop pattern" on how-it-works.md
  docs/how-it-works.md
Due: none

Fix list item format on troubleshooting.md (#10552)
  docs/troubleshooting.md
Due: none

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  troubleshooting/index.html
Due: none

Docs: Fixed broken link of "synchronization loop pattern" on how-it-works.md (#10554)
  docs/how-it-works.md
Due: none

Deploy GitHub Pages
  how-it-works/index.html
  sitemap.xml.gz
Due: none

changed readme as per issue 10556
  README.md
Due: none

changed readme as per issue 10556 (#10558)
  README.md
Due: none

Increase HSTS max-age to default to one year
  docs/user-guide/nginx-configuration/configmap.md
  internal/ingress/controller/config/config.go
  test/data/cleanConf.expected.conf
  test/data/cleanConf.src.conf
  test/data/config.json
Due: none

Release v1.9.4
  README.md
  changelog/Changelog-1.9.4.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/Changelog-4.8.3.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/oracle/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
Due: none

Release v1.9.4 (#10568)
  README.md
  changelog/Changelog-1.9.4.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
  charts/ingress-nginx/changelog/Changelog-4.8.3.md
  charts/ingress-nginx/values.yaml
  deploy/static/provider/aws/deploy.yaml
  deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
  deploy/static/provider/baremetal/deploy.yaml
  deploy/static/provider/cloud/deploy.yaml
  deploy/static/provider/do/deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
  deploy/static/provider/kind/deploy.yaml
  deploy/static/provider/oracle/deploy.yaml
  deploy/static/provider/scw/deploy.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

Update TAG
  TAG
Due: post-ingress-nginx-push-images
