Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo

pull-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: registry.k8s.io/artifact-promoter/kpromo:v4.0.4-0
      command:
      - /kpromo
      args:
      - cip
      - --thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/registry.k8s.io
      - --use-prow-manifest-diff
  ...

pull-k8sio-backup:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter-test
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - infra/gcp/bash/backup_tools/backup_test.sh
      env:
      - name: GOPATH
        value: /go

pull-k8sio-file-promo:
  decorate: true
  spec:
    containers:
    - image: registry.k8s.io/artifact-promoter/kpromo:v4.0.4-0
      command:
      - /kpromo
      args:
      - run
      - files
      - --manifests=/home/prow/go/src/github.com/kubernetes/k8s.io/artifacts/

pull-k8sio-file-promo-with-mirroring:
  decorate: true
  spec:
    containers:
    - name: promote-to-primary
      image: gcr.io/k8s-staging-artifact-promoter/kpromo:v4.0.4-0
      command:
      - /kpromo
      args:
      - run
      - files
      - --manifests=/home/prow/go/src/github.com/kubernetes/k8s.io/artifacts/
    - name: promote-to-mirrors
  ...

post-k8sio-file-promo:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-promoter
    containers:
    - image: k8s.gcr.io/artifact-promoter/kpromo:v3.3.0-1
      command:
      - /kpromo
      args:
      - run
      - files
      - --manifests=/home/prow/go/src/github.com/kubernetes/k8s.io/artifacts/
      - --confirm

post-k8sio-image-promo:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter
    containers:
    - image: k8s.gcr.io/artifact-promoter/kpromo:v3.3.0-1
      command:
      - /kpromo
      args:
      - cip
      - --thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io
      - --confirm

Promote cluster-api-ibmcloud-controller:v0.6.0
  registry.k8s.io/images/k8s-staging-capi-ibmcloud/images.yaml
Due: pull-k8sio-cip

Image promotion for releng 1.20.8-bookworm-0 / 1.21.1-bookworm-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Due: pull-k8sio-cip

Image promotion for build-image v2.3.1-go1.21.1-bullseye.0 / v2.3.1-go1.20.8-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip

Image promotion for build-image v1.29.0-go1.21.1-bullseye.0 / v1.28.0-go1.20.8-bullseye.0 / v1.27.0-go1.20.8-bullseye.0 / v1.26.0-go1.20.8-bullseye.0 / v1.25.0-go1.20.8-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip

Image promotion for build-image v2.3.1-go1.21.1-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip

NFD promote v0.14.0 images
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Due: pull-k8sio-cip

Promote ingress nginx testrunner
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip

Promote kOps 1.28.0-beta.1 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip

Promote kOps 1.28.0-beta.2 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip

Promote kOps 1.28.0-beta.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.28.0-beta.2.yaml
Due: pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo

Promote kOps 1.29.0-alpha.1 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip

Promote kOps 1.29.0-alpha.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.29.0-alpha.1.yaml
Due: pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo

Image promotion for capi-operator v0.6.0
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Due: pull-k8sio-cip

Image promotion for build-image v0.3.2
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip

ingress-nginx 1.8.2 release
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip

Add aws-encryption-provider to staging repo
  infra/gcp/infra.yaml
Due: none

Allow requests without User-Agent header to pkgs.k8s.io
  infra/aws/terraform/cdn.packages.k8s.io/waf.tf
Due: none

CAPO v0.8.0-beta.0
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Due: pull-k8sio-cip

Add lentzi90 as CAPO owner
  registry.k8s.io/images/k8s-staging-capi-openstack/OWNERS
Due: none

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-janitor.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-reaper-deployment.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos.yaml
Due: none

Drop the dns entry for sippy.
  dns/zone-configs/k8s.io._0_base.yaml
Due: none

aaa: remove sippy
  apps/sippy/OWNERS
  apps/sippy/README.md
  apps/sippy/certificate.yaml
  apps/sippy/deploy.sh
  apps/sippy/deployment.yaml
  apps/sippy/ingress.yaml
  apps/sippy/pvc.yaml
  apps/sippy/service.yaml
  infra/gcp/bash/namespaces/ensure-namespaces.sh
Due: none

Drop the external loadbalancer for sippy
  infra/gcp/terraform/kubernetes-public/external-ips.tf
Due: none

Promote ingress v1.9.0 beta 0
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip

Google groups: remove distribution groups for sippy
  README.md
  groups/restrictions.yaml
  groups/sig-architecture/groups.yaml
  groups/sig-k8s-infra/groups.yaml
Due: none

Add jpbetz to leads mailing list
  groups/groups.yaml
Due: none

promote v0.2.3 to jobset prod
  registry.k8s.io/images/k8s-staging-jobset/images.yaml
Due: pull-k8sio-cip

aaa: teardown sippy.k8s.io (#5828)
  README.md
  apps/sippy/OWNERS
  apps/sippy/README.md
  apps/sippy/certificate.yaml
  apps/sippy/deploy.sh
  apps/sippy/deployment.yaml
  apps/sippy/ingress.yaml
  apps/sippy/pvc.yaml
  apps/sippy/service.yaml
  dns/zone-configs/k8s.io._0_base.yaml
  groups/restrictions.yaml
  groups/sig-architecture/groups.yaml
  groups/sig-k8s-infra/groups.yaml
  infra/gcp/bash/namespaces/ensure-namespaces.sh
  infra/gcp/terraform/kubernetes-public/external-ips.tf
Due: none

Add a service account for provider-aws-test-role
  infra/aws/terraform/prow-build-cluster/resources/test-pods/build-serviceaccounts.yaml
Due: none

[1.29] update google groups/GCP IAM membership for release team shadows
  groups/sig-release/groups.yaml
Due: none

releng: Image promotion for kubernetes v1.25.14
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip

releng: Image promotion for kubernetes v1.27.6
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip

releng: Image promotion for kubernetes v1.28.2
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip

Promote images for newer releases
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip

releng: Image promotion for kubernetes v1.26.9
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip

adds v1.29 docs shadows to mailing lists
  groups/sig-release/groups.yaml
Due: none

audit: update as of 2023-09-13
  audit/projects/k8s-gcr-audit-test-prod/services/logging/logs.json
  audit/projects/k8s-gcr-audit-test-prod/services/pubsub/subscriptions.json
  audit/projects/k8s-infra-e2e-boskos-008/buckets/kops-state-k8s-infra-e2e-boskos-008/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-008/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-011/buckets/kops-state-k8s-infra-e2e-boskos-011/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-011/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-045/buckets/kops-state-k8s-infra-e2e-boskos-045/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-045/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-101/buckets/kops-state-k8s-infra-e2e-boskos-101/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-101/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-113/buckets/kops-state-k8s-infra-e2e-boskos-113/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-113/services/compute/project-info.json
  audit/projects/k8s-infra-oci-proxy/services/logging/logs.json
  audit/projects/kubernetes-public/services/logging/logs.json
  audit/projects/kubernetes-public/services/pubsub/subscriptions.json
Due: none

eks-prow-build: switch green node group to public subnet
  infra/aws/terraform/prow-build-cluster/node_group_green.tf
Due: none

eks-prow-build: increase vm.min_free_kbytes to 135168
  infra/aws/terraform/prow-build-cluster/bootstrap/node_bootstrap.sh
  infra/aws/terraform/prow-build-cluster/bootstrap/node_bootstrap_green.sh
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
Due: none

Path conditions:
  pull-k8sio-cip: any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
