Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo

Path conditions:
  pull-k8sio-cip: any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))

Image promotion for cluster-api-azure v1.12.0 (#6095)
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip

publish scheduler-plugins v0.27.8
  registry.k8s.io/images/k8s-staging-scheduler-plugins/images.yaml
Due: pull-k8sio-cip

Adding amim.knabben@gmail.com on groups list
  groups/groups.yaml
Due: none

Image promotion for build-image v0.2.8
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip

Update more snapshotter images
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip

Image promotion for cluster-api v1.6.0-rc.0
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip

Image promotion for provider-aws v1.28.3 / v1.27.4 / v1.26.9 / v1.25.13 / v1.24.17 / v1.23.18
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip

releng: Image promotion for kubernetes v1.29.0-rc.0 / v1.30.0-alpha.0
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip

Promote provider-aws 1.27.4, 1.28.3 artifacts
  artifacts/manifests/k8s-staging-provider-aws/v1.27.4.yaml
  artifacts/manifests/k8s-staging-provider-aws/v1.28.3.yaml
Due: pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo

Add cartermckinnon to provider-aws artifacts approvers
  artifacts/manifests/k8s-staging-provider-aws/OWNERS
Due: none

Add Koray Oksay to EKS Prow build cluster
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
Due: none

Add DNS for CAPI release-1.6 branch
  dns/zone-configs/k8s.io._0_base.yaml
Due: none

Update OWNERS_ALIASES from community repo
  OWNERS_ALIASES
Due: none

Update contribex TLs in root OWNERS
  OWNERS
Due: none

Promote cluster-autoscaler 1.28.1, 1.27.4, 1.26.5
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Due: pull-k8sio-cip

Promote CA 1.27.4 image for s390x
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Due: pull-k8sio-cip

Image promotion for cluster-api-aws v2.3.0
  registry.k8s.io/images/k8s-staging-cluster-api-aws/images.yaml
Due: pull-k8sio-cip

descheduler codeowners: add knelasevero and a7i to approvers
  registry.k8s.io/images/k8s-staging-descheduler/OWNERS
Due: none

Add a GCP service account for dl.k8s.io
  infra/gcp/terraform/k8s-infra-releases-prod/main.tf
Due: none

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: none

Fix typo in role name.
  infra/gcp/terraform/k8s-infra-releases-prod/main.tf
Due: none

chore: add myself to k8s-infra-ii-coop
  groups/sig-k8s-infra/groups.yaml
Due: none

Publish network proxy images for 0.28.1 and 0.28.2 release tags.
  registry.k8s.io/images/k8s-staging-kas-network-proxy/images.yaml
Due: pull-k8sio-cip

releng: Image promotion for kubernetes v1.29.0-rc.1
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip

descheduler: promote v0.28.1 images
  registry.k8s.io/images/k8s-staging-descheduler/images.yaml
Due: pull-k8sio-cip

Update OWNERS
  registry.k8s.io/images/k8s-staging-dns/OWNERS
Due: none

Image promotion for cluster-api v1.6.0-rc.1
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip

Promote kueue image v0.5.1
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Due: pull-k8sio-cip

Update security contacts to reflect active owners
  SECURITY_CONTACTS
Due: none

Promote addon-resizer image 1.8.20
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Due: pull-k8sio-cip

update nginx
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip

Image promotion for sp-operator v0.8.1
  registry.k8s.io/images/k8s-staging-sp-operator/images.yaml
Due: pull-k8sio-cip

Image promotion for cluster-api-helm v0.1.1-alpha.0
  registry.k8s.io/images/k8s-staging-cluster-api-helm/images.yaml
Due: pull-k8sio-cip

AWS: Enable EKS Pod Identity
  infra/aws/terraform/kops-infra-ci/eks.tf
Due: none

Bump AWS terraform provider
  infra/aws/terraform/kops-infra-ci/terraform.tf
Due: none

Create AWS Role for EKS Pod Identity
  infra/aws/terraform/kops-infra-ci/iam.tf
  infra/aws/terraform/kops-infra-ci/providers.tf
Due: none
