Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo

Path conditions:
  pull-k8sio-cip: any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))

Promote kOps 1.28.0 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.28.0.yaml
Due: pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo

dl.k8s.io: Set the TTL of the Fastly service
  infra/fastly/terraform/dl.k8s.io/vcl/binaries.vcl
Due: none

Unset Google headers from the origin
  infra/fastly/terraform/dl.k8s.io/vcl/binaries.vcl
Due: none

dl.k8s.io: Set the TTL of the Fastly service (#5871)
  infra/fastly/terraform/dl.k8s.io/vcl/binaries.vcl
Due: none

fastly: fix type in service config
  infra/fastly/terraform/dl.k8s.io/vcl/binaries.vcl
Due: none

aaa: teardown release.triage.k8s.io
  apps/triageparty-release/OWNERS
  apps/triageparty-release/README.md
  apps/triageparty-release/certificate.yaml
  apps/triageparty-release/configmap.yaml
  apps/triageparty-release/deploy.sh
  apps/triageparty-release/deployment.yaml
  apps/triageparty-release/ingress.yaml
  apps/triageparty-release/secret.yaml
  apps/triageparty-release/service.yaml
  apps/triageparty-release/storage.yaml
  dns/zone-configs/k8s.io._0_base.yaml
Due: none

Promote etcdadm 3.0.20230925 images
  registry.k8s.io/images/k8s-staging-etcdadm/images.yaml
Due: pull-k8sio-cip

releng: Image promotion for kubernetes v1.29.0-alpha.1
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip

Promote pdcsi v1.8.12 and v1.7.14 to k8s-prod
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip

sig-release: cleanup triageparty references
  README.md
  groups/restrictions.yaml
  groups/sig-k8s-infra/groups.yaml
  groups/sig-release/groups.yaml
  infra/gcp/bash/namespaces/ensure-namespaces.sh
  infra/gcp/terraform/kubernetes-public/secrets.tf
Due: none

Image promotion for cluster-api v1.4.7
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip

Image promotion for cluster-api v1.5.2
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip

Promote Vertical Pod Autoscaler 1.0.0
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Due: pull-k8sio-cip

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: none

Increase vm.min_free_kbytes to 540672 on EKS Prow build cluster
  infra/aws/terraform/prow-build-cluster/bootstrap/node_bootstrap.sh
  infra/aws/terraform/prow-build-cluster/bootstrap/node_bootstrap_green.sh
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
Due: none

AWS: trust Prow components to access kOps account
  infra/aws/terraform/kops-infra-ci/iam.tf
Due: none

Create GCP secret for EKS cluster kubeconfig
  infra/gcp/terraform/k8s-infra-prow-build-trusted/secrets.tf
Due: none

Cleanup Terraform files for EKS cluster
  infra/aws/terraform/cdn.packages.k8s.io/Makefile
  infra/aws/terraform/prow-build-cluster/.terraform.lock.hcl
  infra/aws/terraform/prow-build-cluster/Makefile
  infra/aws/terraform/prow-build-cluster/eks.tf
  infra/aws/terraform/prow-build-cluster/providers.tf
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
Due: none

Image promotion for cluster-api-azure v1.11.2
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip

Image promotion for cluster-api-azure v1.10.5
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip

Enable Filestore API for boskos
  infra/gcp/bash/prow/ensure-e2e-projects.sh
Due: none

Promote ingress-nginx 1.9.1
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip

fastly: don't text files for cdn.dl.k8s.io
  infra/fastly/terraform/dl.k8s.io/vcl/binaries.vcl
Due: none

Add DNS verification for 1password
  dns/zone-configs/kubernetes.io._0_base.yaml
Due: none

Update Steering members following 2023 election cycle
  OWNERS_ALIASES
  groups/committee-steering/groups.yaml
Due: none

Add SIG Release binary artifact bucket
  groups/restrictions.yaml
  groups/sig-release/groups.yaml
  infra/gcp/bash/ensure-prod-storage.sh
Due: none

added konryd@google to sig-scalability
  groups/sig-scalability/groups.yaml
Due: none

chore: promote CAPA v2.2.3
  registry.k8s.io/images/k8s-staging-cluster-api-aws/images.yaml
Due: pull-k8sio-cip

Adding marosset to k8s-infra-release-editors
  groups/sig-release/groups.yaml
Due: none

AWS: Allow AWS IAM role for cluster authentication
  infra/aws/terraform/kops-infra-ci/eks.tf
  infra/aws/terraform/kops-infra-ci/providers.tf
Due: none

iam/k8s-infa-prow: Update Terraform modules and lock files
  infra/aws/terraform/iam/k8s-infra-prow-canary/.terraform.lock.hcl
  infra/aws/terraform/iam/k8s-infra-prow-canary/main.tf
  infra/aws/terraform/iam/k8s-infra-prow/.terraform.lock.hcl
  infra/aws/terraform/iam/k8s-infra-prow/main.tf
Due: none
