Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo

Path conditions:
  pull-k8sio-cip: any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))

eks-prow-build: complete canary rollout
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
Due: none

Image promotion for scl-image-builder v0.1.19
  registry.k8s.io/images/k8s-staging-scl-image-builder/images.yaml
Due: pull-k8sio-cip

AWS: add account for job migration
  infra/aws/terraform/management-account/organization-accounts-workloads-non-prod.tf
Due: none

New secret to migrate from a legacy AWS account
  infra/aws/terraform/prow-build-cluster/resources/test-pods/externalsecrets.yaml
Due: none

Add sig-storage objectstorage containter images to registry
  registry.k8s.io/images/k8s-staging-sig-storage/generate.sh
Due: none

Update snapshot images v6.3.0
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip

Add a role for the new shared EC2/EKS account
  infra/aws/terraform/prow-build-cluster/resources/test-pods/build-serviceaccounts.yaml
Due: none

Promote CAPA v2.2.2 image
  registry.k8s.io/images/k8s-staging-cluster-api-aws/images.yaml
Due: pull-k8sio-cip

audit: update as of 2023-09-14
  audit/projects/k8s-infra-e2e-boskos-011/buckets/kops-state-k8s-infra-e2e-boskos-011/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-011/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-071/buckets/kops-state-k8s-infra-e2e-boskos-071/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-071/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-089/buckets/kops-state-k8s-infra-e2e-boskos-089/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-089/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-095/buckets/kops-state-k8s-infra-e2e-boskos-095/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-095/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-118/buckets/kops-state-k8s-infra-e2e-boskos-118/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-118/services/compute/project-info.json
  audit/projects/k8s-staging-sched-simulator/services/logging/logs.json
  audit/projects/k8s-staging-sig-storage/services/logging/logs.json
  audit/projects/kubernetes-public/services/logging/logs.json
Due: none

Bumping Gateway API images for v0.8.1
  registry.k8s.io/images/k8s-staging-gateway-api/images.yaml
Due: pull-k8sio-cip

Promote dns 1.22.21, 22, 23, and 24 images
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Due: post-k8sio-image-promo

audit: update as of 2023-09-15
  audit/projects/k8s-infra-e2e-boskos-046/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-051/buckets/kops-state-k8s-infra-e2e-boskos-051/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-051/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-062/buckets/kops-state-k8s-infra-e2e-boskos-062/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-062/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-074/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-083/buckets/kops-state-k8s-infra-e2e-boskos-083/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-083/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-104/buckets/kops-state-k8s-infra-e2e-boskos-104/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-104/services/compute/project-info.json
  audit/projects/k8s-infra-sandbox-capg/iam.json
  audit/projects/k8s-infra-sandbox-capg/service-accounts/phong-mentee-lfx-23@k8s-infra-sandbox-capg.iam.gserviceaccount.com/description.json
  audit/projects/k8s-infra-sandbox-capg/service-accounts/phong-mentee-lfx-23@k8s-infra-sandbox-capg.iam.gserviceaccount.com/iam.json
  audit/projects/k8s-staging-sig-docs/services/logging/logs.json
Due: none

infra/gcp: Ensure a purgatory GCP project
  infra/gcp/bash/ensure-purgatory.sh
  infra/gcp/bash/ensure-release-projects.sh
  infra/gcp/infra.yaml
Due: none

add authenticated-test project
  infra/gcp/bash/ensure-main-project.sh
  infra/gcp/infra.yaml
  infra/gcp/terraform/k8s-staging-authenticated-test/README.md
  infra/gcp/terraform/k8s-staging-authenticated-test/images.tf
  infra/gcp/terraform/k8s-staging-authenticated-test/provider.tf
  infra/gcp/terraform/k8s-staging-authenticated-test/terraform.tfvars
  infra/gcp/terraform/k8s-staging-authenticated-test/variables.tf
  infra/gcp/terraform/k8s-staging-authenticated-test/versions.tf
Due: none

create k8s-kops-test SA on build clusters
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/build-serviceaccounts.yaml
  infra/gcp/terraform/k8s-infra-prow-build/serviceaccounts.tf
Due: none

Remove the legacy AWS owned test account 607362164682
  infra/aws/terraform/management-account/organization-accounts-workloads-non-prod.tf
  infra/aws/terraform/prow-build-cluster/resources/test-pods/externalsecrets_legacy.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/externalsecrets.yaml
Due: none

external-dns: sync OWNERS file
  registry.k8s.io/images/k8s-staging-external-dns/OWNERS
Due: none

kops: remove k8s.gcr.io OWNERS override
  k8s.gcr.io/images/k8s-staging-kops/OWNERS
Due: none

prow-build: fix test-pods PodDisruptionBudget resource
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/test-pods-poddisruptionbudget.yaml
Due: none

Promote aws-ebs-csi-driver v1.23.0 image
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip

audit: update as of 2023-09-18
  audit/projects/k8s-infra-e2e-boskos-003/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-007/buckets/kops-state-k8s-infra-e2e-boskos-007/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-007/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-010/buckets/kops-state-k8s-infra-e2e-boskos-010/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-010/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-022/buckets/kops-state-k8s-infra-e2e-boskos-022/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-022/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-025/buckets/kops-state-k8s-infra-e2e-boskos-025/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-025/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-027/buckets/kops-state-k8s-infra-e2e-boskos-027/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-027/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-052/buckets/kops-state-k8s-infra-e2e-boskos-052/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-052/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-057/buckets/kops-state-k8s-infra-e2e-boskos-057/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-057/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-076/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-079/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-087/buckets/kops-state-k8s-infra-e2e-boskos-087/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-087/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-120/buckets/kops-state-k8s-infra-e2e-boskos-120/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-120/services/compute/project-info.json
  audit/projects/k8s-infra-porche-sandbox/services/logging/logs.json
  audit/projects/k8s-infra-prow-build/service-accounts/prow-build@k8s-infra-prow-build.iam.gserviceaccount.com/iam.json
  audit/projects/k8s-infra-prow-build/services/logging/logs.json
  audit/projects/k8s-staging-cluster-api-helm/services/logging/logs.json
  audit/projects/k8s-staging-etcd/services/logging/logs.json
  audit/projects/k8s-staging-kubernetes/services/logging/logs.json
  audit/projects/k8s-staging-multitenancy/services/logging/logs.json
  audit/projects/k8s-staging-sig-docs/services/logging/logs.json
  audit/projects/kubernetes-public/services/container/clusters/aaa.json
Due: none

CAPO v0.8.0
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Due: pull-k8sio-cip

Image promotion for cluster-api-azure v1.10.4
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip

audit: update as of 2023-09-19
  audit/projects/k8s-infra-e2e-boskos-024/buckets/kops-state-k8s-infra-e2e-boskos-024/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-024/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-028/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-036/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-042/buckets/kops-state-k8s-infra-e2e-boskos-042/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-042/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-045/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-068/buckets/kops-state-k8s-infra-e2e-boskos-068/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-068/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-073/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-092/services/compute/project-info.json
  audit/projects/k8s-infra-prow-build/services/container/clusters/prow-build.json
Due: none

Move changes to registry.k8s.io
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
  registry.k8s.io/images/k8s-staging-dns/images.yaml
Due: pull-k8sio-cip, post-k8sio-image-promo

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: none

Image promotion for cluster-api-azure v1.11.0
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip

release 1.9.0
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Due: pull-k8sio-cip

images: promote node-feature-discovery v0.14.1 and v0.13.5
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Due: pull-k8sio-cip

AWS: set up an account for windows operational readiness
  infra/aws/terraform/management-account/organization-accounts-workloads-non-prod.tf
Due: none

GCP/prow-build: Enabled Cloud Resource Manager service
  infra/gcp/terraform/modules/gke-project/main.tf
Due: none

GCP: Enable KMS service for boskos
  infra/gcp/bash/prow/ensure-e2e-projects.sh
Due: none

Publish network proxy images for 0.1.5 and 0.28.0 tags.
  registry.k8s.io/images/k8s-staging-kas-network-proxy/images.yaml
Due: pull-k8sio-cip

Image promotion for cluster-api-azure v1.11.1
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip

Promote kOps 1.26.5 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip

add mailing list members migration functionality
  groups/Makefile
  groups/reconcile.go
  groups/service.go
  groups/service_test.go
Due: none

Promote kOps 1.26.6 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip

Promote kOps 1.26.6 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.26.6.yaml
Due: pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo

Promote kOps 1.28.0 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip
