Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo

pull-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: registry.k8s.io/artifact-promoter/kpromo:v4.0.4-0
      command:
      - /kpromo
      args:
      - cip
      - --thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/registry.k8s.io
      - --use-prow-manifest-diff
  ...

pull-k8sio-backup:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter-test
    containers:
    - image: gcr.io/k8s-staging-infra-tools/k8s-infra:latest
      command:
      - infra/gcp/bash/backup_tools/backup_test.sh
      env:
      - name: GOPATH
        value: /go

pull-k8sio-file-promo:
  decorate: true
  spec:
    containers:
    - image: registry.k8s.io/artifact-promoter/kpromo:v4.0.4-0
      command:
      - /kpromo
      args:
      - run
      - files
      - --manifests=/home/prow/go/src/github.com/kubernetes/k8s.io/artifacts/

pull-k8sio-file-promo-with-mirroring:
  decorate: true
  spec:
    containers:
    - name: promote-to-primary
      image: gcr.io/k8s-staging-artifact-promoter/kpromo:v4.0.4-0
      command:
      - /kpromo
      args:
      - run
      - files
      - --manifests=/home/prow/go/src/github.com/kubernetes/k8s.io/artifacts/
    - name: promote-to-mirrors
  ...

post-k8sio-file-promo:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-promoter
    containers:
    - image: k8s.gcr.io/artifact-promoter/kpromo:v3.3.0-1
      command:
      - /kpromo
      args:
      - run
      - files
      - --manifests=/home/prow/go/src/github.com/kubernetes/k8s.io/artifacts/
      - --confirm

post-k8sio-image-promo:
  decorate: true
  spec:
    serviceAccountName: k8s-infra-gcr-promoter
    containers:
    - image: k8s.gcr.io/artifact-promoter/kpromo:v3.3.0-1
      command:
      - /kpromo
      args:
      - cip
      - --thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io
      - --confirm

Image promotion for build-image v1.29.0-go1.21.4-bullseye.0 / v1.28.0-go1.20.11-bullseye.0 / v1.27.0-go1.20.11-bullseye.0 / v1.26.0-go1.20.11-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip

Promote smb and nfs csi driver images
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip

Image promotion for kube-state-metrics v2.10.1
  registry.k8s.io/images/k8s-staging-kube-state-metrics/images.yaml
Due: pull-k8sio-cip

Promote CSI Sidecar Images for CVE Fixes
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Due: pull-k8sio-cip

Promote dns 1.22.25-1.22.27 images
  registry.k8s.io/images/k8s-staging-dns/images.yaml
Due: pull-k8sio-cip

Update email in cluster lifecycle group
  groups/sig-cluster-lifecycle/groups.yaml
Due: none

chore: Promote aws-ebs-csi-driver v1.25 images
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip

Image promotion for prometheus-adapter v0.11.2
  registry.k8s.io/images/k8s-staging-prometheus-adapter/images.yaml
Due: pull-k8sio-cip

Promote kOps 1.29.0-alpha.2 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip

Promote kOps 1.28.1 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip

Promote kOps 1.27.2 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Due: pull-k8sio-cip

Promote kOps 1.29.0-alpha.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.29.0-alpha.2.yaml
Due: pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo

Promote kOps 1.28.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.28.1.yaml
Due: pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo

Promote kOps 1.27.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.27.2.yaml
Due: pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo

Push ibm-powervs-block-csi-driver v0.5.1
  registry.k8s.io/images/k8s-staging-cloud-provider-ibm/images.yaml
Due: pull-k8sio-cip

Fix group membership
  groups/sig-k8s-infra/groups.yaml
Due: none

Image promotion for build-image v0.4.2
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: none

add myself to leads@kubernetes.io
  groups/groups.yaml
Due: none

Add dims, cartermckinnon to provider-aws OWNERS
  registry.k8s.io/images/k8s-staging-provider-aws/OWNERS
Due: none

Image promotion for capi-operator v0.7.0
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Due: pull-k8sio-cip

Fastly: Create a service for cdn.dl-sandbox.k8s.dev
  infra/fastly/terraform/dl-sandbox.k8s.dev/provider.tf
  infra/fastly/terraform/dl-sandbox.k8s.dev/services.tf
  infra/fastly/terraform/dl-sandbox.k8s.dev/variables.tf
  infra/fastly/terraform/dl-sandbox.k8s.dev/vcl/binaries.vcl
  infra/fastly/terraform/dl-sandbox.k8s.dev/versions.tf
Due: none

Delegate cdn.dl-sandbox.k8s.dev to Fastly
  dns/zone-configs/k8s.dev._0_base.yaml
Due: none

Fastly: Create a service for cdn.dl-sandbox.k8s.dev (#6082)
  dns/zone-configs/k8s.dev._0_base.yaml
  infra/fastly/terraform/dl-sandbox.k8s.dev/provider.tf
  infra/fastly/terraform/dl-sandbox.k8s.dev/services.tf
  infra/fastly/terraform/dl-sandbox.k8s.dev/variables.tf
  infra/fastly/terraform/dl-sandbox.k8s.dev/vcl/binaries.vcl
  infra/fastly/terraform/dl-sandbox.k8s.dev/versions.tf
Due: none

releng: Image promotion for kubernetes v1.28.4
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip

releng: Image promotion for kubernetes v1.27.8
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip

releng: Image promotion for kubernetes v1.26.11
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip

releng: Image promotion for kubernetes v1.25.16
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip

Promote dns 1.22.28 images
  registry.k8s.io/images/k8s-staging-dns/images.yaml
Due: pull-k8sio-cip

Image promotion for scl-image-builder v0.1.21
  registry.k8s.io/images/k8s-staging-scl-image-builder/images.yaml
Due: pull-k8sio-cip

promote csi-secrets-store driver:v1.4.0
  registry.k8s.io/images/k8s-staging-csi-secrets-store/images.yaml
Due: pull-k8sio-cip

Promote provider-aws 1.27.3, 1.28.3 artifacts
  artifacts/manifests/k8s-staging-provider-aws/v1.27.3.yaml
  artifacts/manifests/k8s-staging-provider-aws/v1.28.2.yaml
Due: pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo

Add cartermckinnon to k8s-infra-staging-provider-aws
  groups/sig-cloud-provider/groups.yaml
Due: none

Image promotion for cluster-api-azure v1.10.8
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip

Image promotion for cluster-api-azure v1.11.6
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip

Image promotion for cluster-api-azure v1.12.0
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip

Path conditions:
  pull-k8sio-cip: any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
