Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: pull-k8sio-cip, pull-k8sio-backup, pull-k8sio-file-promo, pull-k8sio-file-promo-with-mirroring, post-k8sio-file-promo, post-k8sio-image-promo

Path conditions:
  pull-k8sio-cip: any of: registry.k8s.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  pull-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  pull-k8sio-file-promo-with-mirroring: any of: ^artifacts\/.*\/*.yaml
  post-k8sio-file-promo: any of: ^artifacts\/(filestores|manifests)\/.*\/*.yaml
  post-k8sio-image-promo: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))

promote persistent-disk-csi-driver 1.8.8, 1.9.7 and 1.10.5 image
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip

Add aws-credentials-boskos-scale-001-kops Secret to EKS Prow cluster
  infra/aws/terraform/prow-build-cluster/resources/test-pods/externalsecrets.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/externalsecrets_legacy.yaml
Due: none

Send alerts from EKS Prow cluster to #k8s-infra-alerts
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-slack-notifications.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/slack-alerting-external-secret.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/alertmanager-main/alertmanager-config.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/alertmanager-main/alertmanager-slack-token.yaml
Due: none

k8s.io: update redirect config for dl.k8s.io
  apps/k8s-io/configmap-nginx.yaml
  apps/k8s-io/test.py
Due: none

k8s-io: Update assertions for packages
  apps/k8s-io/test.py
Due: none

audit: update as of 2023-07-28
  audit/projects/k8s-infra-e2e-boskos-024/buckets/kops-state-k8s-infra-e2e-boskos-024/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-024/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-026/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-028/buckets/kops-state-k8s-infra-e2e-boskos-028/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-028/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-053/buckets/kops-state-k8s-infra-e2e-boskos-053/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-053/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-055/buckets/kops-state-k8s-infra-e2e-boskos-055/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-055/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-058/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-071/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-081/buckets/kops-state-k8s-infra-e2e-boskos-081/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-081/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-090/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-097/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-107/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-113/buckets/kops-state-k8s-infra-e2e-boskos-113/metadata.txt
  audit/projects/k8s-infra-e2e-boskos-113/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-boskos-118/services/compute/project-info.json
  audit/projects/kubernetes-public/services/container/clusters/aaa.json
  audit/projects/kubernetes-public/services/logging/logs.json
  audit/projects/kubernetes-public/services/monitoring/dashboards/GKE.json
Due: none

Add taint and node label to blue node group so that we can use it exclusively for kind jobs
  infra/aws/terraform/prow-build-cluster/eks.tf
  infra/aws/terraform/prow-build-cluster/locals.tf
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
  infra/aws/terraform/prow-build-cluster/variables.tf
Due: none

Bumping boskos and ghproxy and prow
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
Due: none

Fix affected redirection tests for dl.k8s.io
  apps/k8s-io/test.py
Due: none

Fix affected redirection tests for pkgs.k8s.io
  apps/k8s-io/test.py
Due: none

Promote latest AWS CCM images
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip

Remove non-existent 1.25.11 image
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Due: pull-k8sio-cip

Promote git-sync v3.6.9
  registry.k8s.io/images/k8s-staging-git-sync/images.yaml
Due: pull-k8sio-cip

enable segmented caching for archive files
  infra/fastly/terraform/dl.k8s.io/services.tf
Due: none

promoting new otel image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Due: post-k8sio-image-promo

Promote git-sync v4.0.0-rc4
  registry.k8s.io/images/k8s-staging-git-sync/images.yaml
Due: pull-k8sio-cip

add 5.1.1
  registry.k8s.io/images/k8s-staging-kustomize/images.yaml
Due: pull-k8sio-cip

Promote git-sync v4.0.0-rc5
  registry.k8s.io/images/k8s-staging-git-sync/images.yaml
Due: pull-k8sio-cip

Updating Elekto version to fix bug
  apps/elekto/deployment.yaml
Due: none

Update distributors-announce group settings
  groups/committee-security-response/groups.yaml
Due: none

Image promotion for cluster-api-azure v1.9.6
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip

Image promotion for cluster-api-azure v1.10.1
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip

Promote v1.7.10 pdcsi image
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Due: pull-k8sio-cip

CAPV: fix image promotion staging registry
  registry.k8s.io/manifests/k8s-staging-cluster-api-vsphere/promoter-manifest.yaml
Due: pull-k8sio-cip

Image promotion for capi-vsphere v1.8.0-beta.1
  registry.k8s.io/images/k8s-staging-capi-vsphere/OWNERS
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
  registry.k8s.io/images/k8s-staging-cluster-api-vsphere/images.yaml
  registry.k8s.io/manifests/k8s-staging-capi-vsphere/promoter-manifest.yaml
Due: pull-k8sio-cip

Prepare for capi ipam provider image publishing
  groups/restrictions.yaml
  groups/sig-cluster-lifecycle/groups.yaml
  infra/gcp/infra.yaml
  registry.k8s.io/images/k8s-staging-capi-ipam-ic/OWNERS
  registry.k8s.io/images/k8s-staging-capi-ipam-ic/images.yaml
  registry.k8s.io/manifests/k8s-staging-capi-ipam-ic/promoter-manifest.yaml
Due: pull-k8sio-cip

Document workaround for failing Flux Helm Release
  infra/aws/terraform/prow-build-cluster/docs/GitOps.md
Due: none

Fix link
  infra/aws/terraform/prow-build-cluster/docs/GitOps.md
Due: none

Add sharedCredentialsFile to boskos-scale-001-kops secret
  infra/aws/terraform/prow-build-cluster/resources/test-pods/externalsecrets.yaml
Due: none

Add bentheelder to EKS Infra Admins
  infra/aws/terraform/iam/k8s-infra-prow-canary/terraform.tfvars
  infra/aws/terraform/iam/k8s-infra-prow/terraform.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
Due: none

Image promotion for build-image v1.27.0-go1.20.7-bullseye.0 / v1.25.0-go1.20.7-bullseye.0 / v1.26.0-go1.20.7-bullseye.0 / v1.24.0-go1.20.7-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip

Image promotion for build-image v2.3.1-go1.20.7-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip

Image promotion for releng 1.20.7-bookworm-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Due: pull-k8sio-cip

GKE: Enable GKE CSI driver
  infra/gcp/terraform/kubernetes-public/10-cluster-configuration.tf
  infra/gcp/terraform/modules/gke-cluster/main.tf
Due: none

Image promotion for build-image v1.28.0-go1.21rc4-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip

Add Eric Smalling as member
  groups/sig-security/groups.yaml
Due: none

prow-build-trusted: Add PVC for publishing-bot
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/test-pods/test-pods-pvcs.yaml
Due: none
